<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5Level %c - %msg %n"/>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="warming">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>